body {
    margin: 0;
    padding: 0;
    background: #022141;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #022141;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #65acee;
    color: black;
}

.topnav a.active {
    background-color: #0084ff;
    color: white;
}

.button3 {
    background-color: rgb(32, 7, 124);
}

.portfolio-image {
    width: 90%;
    padding: 20px;
}

.flexbox-container {
    margin: auto;
    justify-content: center;
    height: 300px;
}

.flexbox-container {
    box-shadow: 0 5px, 15px rgba(0, 0, 0, .5);
    margin-top: 10px;
    margin-left: 389px;
    margin-right: 229px;
    height: 435px;
    width: 678px;
}

h2 {
    padding-left: 650px;
    font-family: 'poppins';
    font-weight: 1000;
    font-size: 37px;
    color: white
}

img {
    height: 450px;
    padding-left: 340px;
    padding-top: 50px;
}

h1 {
    padding-left: 400px;
    font-family: 'poppins';
    font-weight: 1000;
    font-size: 37px;
    color: white
}

p {
    font-family: 'poppins';
    font-size: 25px;
    text-align: center;
    color: white;
}

@media screen and (max-width :690px) {
    .flexbox-container {
        box-shadow: 0 5px, 15px rgba(0, 0, 0, .5);
        margin-top: 50px;
        margin-left: 180px;
        margin-right: 99px;
        height: 335px;
        width: 478px;
    }
    img {
        height: 450px;
        width: 100%;
        padding-left: 0px;
        padding-top: 50px;
    }
}

@media screen and (width :768px) {
    .flexbox-container {
        box-shadow: 0 5px, 15px rgba(0, 0, 0, .5);
        margin-top: 50px;
        margin-left: 180px;
        margin-right: 99px;
        height: 335px;
        width: 478px;
    }
    img {
        height: 450px;
        width: 100%;
        padding-left: 0px;
        padding-top: 50px;
    }
}