/* body {
    margin: 0;
    padding: 0;
    background: #BDD9F5;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: rgb(32, 7, 124);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.wulfies a {
    float: left;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    padding-bottom: 100px;
    padding-top: -200px;
}

.topnav a:hover {
    background-color: #BDD9F5;
    color: black;
}

.topnav a.active {
    background-color: #0084ff;
    color: white;
}

.button3 {
    background-color: rgb(32, 7, 124);
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button4 {
    display: flex;
    justify-content: center;
    background-image: url('RG.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 260px;
    height: 135px;
    margin-left: 20px;
    padding-left: 95%;
    text-align: center;
    font-size: 15px;
    color: rgb(32, 7, 124);
    border-radius: 25px;
}

.row {
    display: flex;
}

.button5 {
    background-image: url('wulfies.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 70px;
    margin-left: 20px;
    padding-left: 95%;
    text-align: center;
    font-size: 15px;
    color: rgb(32, 7, 124);
    border-radius: 25px;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}


/* Create three equal columns that sits next to each other */


/* .column {
    float: left;
    flex: 33.3%;
    padding: 5px;
}

.button6 {
    background-color: #2694fc;
}

.flexbox-container {
    margin: auto;
    justify-content: center;
}

.flexbox-container {
    background-color: #f2f2f2;
    background-size: cover;
    box-shadow: 0 5px, 15px rgba(0, 0, 0, .5);
    margin-top: 50px;
    margin-left: 389px;
    margin-right: 229px;
    height: 435px;
    width: 678px;
    border-radius: 25px;
}

h2 {
    padding-left: 650px;
    font-family: 'poppins';
    font-weight: 1000;
    font-size: 37px;
    color: black;
}

h1 {
    padding-left: 240px;
    padding-top: 100px;
    font-family: 'poppins';
    font-weight: 1000;
    font-size: 47px;
    color: black;
}

.row .column .rg img {
    padding-top: 25px;
    margin-left: 200px;
}

.row .column .wulfies img {
    margin-left: 300px;
}

p {
    font-family: 'poppins';
    font-size: 25px;
    text-align: center;
}

@media screen and (max-width :690px) {
    .flexbox-container {
        background-color: #f2f2f2;
        background-size: cover;
        box-shadow: 0 5px, 15px rgba(0, 0, 0, .5);
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 129px;
        height: 335px;
        width: 478px;
        border-radius: 25px;
    }
    .row .column .rg img {
        padding-top: 25px;
        margin-left: 20px;
    }
    .row .column .wulfies img {
        margin-left: 30px;
    }
    h1 {
        padding-left: 160px;
        padding-top: 50px;
        font-family: 'poppins';
        font-weight: 1000;
        font-size: 37px;
        color: black;
    }
    p {
        font-family: 'poppins';
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (width :768px) {
    .flexbox-container {
        background-color: #f2f2f2;
        background-size: cover;
        box-shadow: 0 5px, 15px rgba(0, 0, 0, .5);
        margin-top: 50px;
        margin-left: 150px;
        margin-right: 129px;
        height: 335px;
        width: 478px;
        border-radius: 25px;
    }
    .row .column .rg img {
        padding-top: 25px;
        margin-left: 30px;
    }
    .row .column .wulfies img {
        margin-left: 40px;
    }
    h1 {
        padding-left: 160px;
        padding-top: 50px;
        font-family: 'poppins';
        font-weight: 1000;
        font-size: 37px;
        color: black;
    }
    p {
        font-family: 'poppins';
        font-size: 20px;
        text-align: center;
    }
} */