body {
    margin: 0;
    padding: 0;
    background: #022141;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #022141;
    width: 100%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #65acee;
    color: black;
}

.topnav a.active {
    background-color: #0084ff;
    color: white;
}

.button3 {
    background-color: #0084ff;
}
.card {
width: 420px;
height: 400px;
    background-color: #BDD9F5;
    margin: 10px;
  }
  .card-image{
    background-color: #f2f2f2;
    height: 208px;
    margin-bottom: 15px;
    background-size: cover;
  }
  .wulfies{
    background-image: url("./wulfies.png");
  }
  
  .RG{
    background-image: url("./RG.png");
    
  }
  .interactieve_speeltuin{
    background-image: url("./basquiat.jpeg");
    
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
  display: flex;
  justify-content: center;
  }


button1{
    padding-top: 100px;
    padding-left:300px;
    padding-bottom: 100px;
    margin-left: 105px;
    margin-top: 70px;
    border: none;
    outline: none;

}
button1:hover{
    background-color: #022141;
}
.flexbox-container {
    margin: auto;
    justify-content: center;
}

.flexbox-container {
    border-radius: 75px;
    position: relative;
    background-color: #65acee;
    margin-left: 0px;
    margin-top: 50px;
    height: 335px;
    width: 50%;
    opacity: 1.5;
}

img {
    position: absolute;
    top: 120px;
    max-width: 100%;
    height: auto;
    left: 50px;

}


h2{ font-family: 'poppins';
    font-size: 25px;
    text-align: center;}
    .button{
 
        height: 30px;
        width: 180px;
        padding:0px;
        background: #0084ff;
        margin-left: 120px;
        margin-top: 25px;
        border: none;
        outline: none;
        border-radius: 5px;
        overflow: hidden;
        font-family: "poppins";
        font-size: 23px;
        cursor: pointer;
    }
    .button__text{
        display: inline-flex;
        align-items: center;
        
        
        color: white;
    
    }
h1 {
    padding-left: 400px;
    padding-top: 45px;
    font-family: 'poppins';
    font-weight: 1000;
    font-size: 37px;
    color: black;
}

p {
    font-family: 'poppins';
    font-size: 25px;
    text-align: center;
}

    p1 {
        font-family: 'poppins';
        font-size: 25px;
        text-align: center;
    }


h3 {
    padding-left: 400px;
    padding-top: 45px;
    font-family: 'poppins';
    font-weight: 1000;
    font-size: 37px;
    color: white
}
h4{ font-family: 'poppins';
    font-size: 25px;
    padding-left: 7.6rem;}
.wulfies {}

.rg {}

.rg img {
    position: absolute;
    top: 700px;
    right: 105px;
    left: 1000px;
}

.row {
    display: flex;
}

.column {
    float: left;
    flex: 33.3%;
    padding: 5px;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.footer-container{
    background-color:#022141;
    padding-bottom: 4rem;
}
.footer{
     width: 80%;
     height: 20vh;
     background-color: #022141;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10rem;
}
     .footer-heading{
        display: flex;
        flex-direction: column;
        margin-right: 2.5rem;
     }
     .footer-heading h2{
        margin-bottom: 0;
        font-family: 'poppins';
        font-size: 25px;
        margin-right: 16.1rem;

     }
     .footer-heading a{
        color: white;
        text-decoration: none;
        margin-bottom: 0;
        font-size: 25px;
        margin-left: 2rem;
        margin-top: 1rem;
     }
     .footer-heading a:hover{
        color: red;
        transition: 0.3s ease-in-out;
     }
     .footer-email-form h2{
        margin-bottom: 2rem;
     }
     #footer-email{
        width: 250px;
        height: 40px;
        border-radius: 4px;
        outline: none;
        border: none;
        padding-left: 0.5rem;
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-left: 47.4rem;
        margin-top: -6rem;
    }
     
    #footer-email::placeholder{
        color: #b1b1b1;
    }
    #footer-email-btn{
        height: 40px;
        width: 100px;
        border-radius: 4px;
        background-color:#0084ff;
        outline: none;
        border: none;
        margin-top: -6rem;
    }
    #footer-email-btn:hover{
        cursor: pointer;
        background-color: skyblue;
        transition: all 0.4s ease-out;
    }
@media screen and (max-width :690px) {
    .flexbox-container {
        background-image: url(sem-thijssen.jpeg);
        background-size: cover;
        box-shadow: 0 5px, 15px rgba(0, 0, 0, .5);
        margin-right: 229px;
        margin-left: 120px;
        height: 235px;
        width: 478px;
    }
    .topnav {
        overflow: hidden;
        background-color: rgb(32, 7, 124);
        width: 100%;
    }
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 23px 25px;
        text-decoration: none;
        font-size: 16px;
    }
    .topnav a:hover {
        background-color: #BDD9F5;
        color: black;
    }
    .topnav a.active {
        background-color: #0084ff;
        color: white;
    }
    .button3 {
        background-color: rgb(32, 7, 124);
    }
    .flexbox-container {
        margin: auto;
        justify-content: center;
    }
    .flexbox-container {
        background-image: url(sem-thijssen.jpeg);
        background-size: cover;
        box-shadow: 0 5px, 15px rgba(0, 0, 0, .5);
        margin-top: 50px;
        margin-left: 389px;
        margin-right: 229px;
        height: 435px;
        width: 678px;
    }
    h2 {
        padding-left: 650px;
        font-family: 'poppins';
        font-weight: 1000;
        font-size: 37px;
        color: black;
    }
    h1 {
        padding-left: 400px;
        font-family: 'poppins';
        font-weight: 1000;
        font-size: 37px;
        color: black;
    }
    p {
        font-family: 'poppins';
        font-size: 25px;
        text-align: center;
    }
}

@media screen and (max-width :690px) {
    .flexbox-container {
        background-image: url(sem-thijssen.jpeg);
        background-size: cover;
        box-shadow: 0 5px, 15px rgba(0, 0, 0, .5);
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 99px;
        height: 335px;
        width: 100%;
    }
    h1 {
        padding-left: 425px;
        font-family: 'poppins';
        font-weight: 1000;
        font-size: 37px;
        color: black;
    }
    h2 {
        padding-left: 278px;
        font-family: 'poppins';
        font-weight: 1000;
        font-size: 37px;
        color: black;
    }
}

@media screen and (width :768px) {
    .flexbox-container {
        background-image: url(sem-thijssen.jpeg);
        background-size: cover;
        box-shadow: 0 5px, 15px rgba(0, 0, 0, .5);
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 99px;
        height: 335px;
        width: 100%;
    }
    h1 {
        padding-left: 510px;
        font-family: 'poppins';
        font-weight: 1000;
        font-size: 37px;
        color: black;
    }
    h2 {
        padding-left: 318px;
        font-family: 'poppins';
        font-weight: 1000;
        font-size: 37px;
        color: black;
    }
}