body {
    margin: 0;
    padding: 0;
    background: #022141;
    font-family: Arial, Helvetica, sans-serif;
}

    .button {
        display: inline-flex;
        height: 50px;
        padding-left: 55px;
        background: #0084ff;
        margin-top: 25px;
        margin-left: 345px;
        border: none;
        outline: none;
        border-radius: 5px;
        overflow: hidden;
        font-family: "poppins";
        font-size: 25px;
        cursor: pointer;
        text-decoration: none;
    }
.button:hover{
    background: #0070c0;
    transition: 0.5s;
  
  
}
.button:active{
    background: #015c9d;
}
.button__text{
    display: inline-flex;
align-items: center;
    padding-right: 45px;
    margin-top: 6px;
    color: white;
    text-decoration: none;

}

.button__icon{display: inline-flex;
align-items: center;
padding: 6px 24px;

color: white;}

.topnav {
    overflow: hidden;
    background-color: #022141;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.flexbox-container8{
    width: 150px; 
    height: 50px;
    background-color: black;
}
.topnav a:hover {
    background-color: #BDD9F5;
    color: black;
}

.topnav a.active {
    background-color: #0084ff;
    color: white;
}

.button3 {
    background-color: #022141;
}

.portfolio-image {
    width: 90%;
    padding: 20px;
}
img{ 
    height: 400px;
    width: 800px;
    padding-left: 275px;
    padding-bottom: 10px;}
.flexbox-container {
    margin: auto;
    justify-content: center;
    height: 300px;
}

.flexbox-container {
    box-shadow: 0 5px, 15px rgba(0, 0, 0, .5);
    margin-top: 10px;
    margin-left: 389px;
    margin-right: 229px;
    height: 435px;
    width: 678px;
}
.a{
    padding: 14px 16px;
    text-align: center;
    font-size: 17px;
    color: white;
    text-decoration: none;
}
h2 {
    padding-left: 650px;
    font-family: 'poppins';
    font-weight: 1000;
    font-size: 37px;
    color: black;
}



p1 {
    font-family: 'poppins';
    font-size: 20px;
    text-align: center;
    color: black;
}

h1 {
    padding-left: 400px;
    font-family: 'poppins';
    font-weight: 1000;
    font-size: 37px;
    color: white;
}

p {
    padding-top: 11px;
    font-family: 'poppins';
    font-size: 25px;
    text-align: center;
}
p2{
    font-family: 'poppins';
    font-size: 25px;
    text-align: center;
    color: white;
    margin:40px;


}
h3 {  padding-left: 400px;
font-family: 'poppins';
font-weight: 1000;
font-size: 37px;
color: white;

}

.text-container{
    background-color: white;
    width: 500px;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}
.text-container2{
    background-color: white;
    width: 500px;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-top: 00px;
}

   


/* .flexbox-container7 {
    margin-top: -400px;
    margin-right: 500px;
} */












   




.flexbox-container3 {
    border-top: 100px;
    border-color: #0084ff;
    height: 350px;
    background-color: white;
    margin-left: 280px;
    margin-right: 280px;
}


 


.column {
    float: right;
    flex: 33.3%;
    padding: 5px;
}

.row {
    display: flex;
}
.footer-container{
    background-color:#022141;
   
}

    .footer {
        width: 80%;
        height: 20vh;
        background-color: #022141;
        color: white;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 0rem;
    }

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem;
 }
 
 


.footer-heading h2 {
    margin-bottom: 0px;
    font-family: poppins;
    font-size: 25px;
    margin-left: -57.9rem;
    color: white;
}
.footer-heading a{
    color: white;
    text-decoration: none;
    margin-bottom: 0;
    font-size: 18px;
    margin-left: 3rem;
    margin-top: 1rem;
    text-decoration: underline;
 }
 .footer-heading a:hover{
    color: red;
    transition: 0.3s ease-in-out;
 }
  .footer .row {
    display: flex;
}

.footer .column {
    float: left;
    flex: 1 1 33.3%;
    padding: 5px;
    margin-left: -207px;
    margin-right: -45px;
}

@media screen and (max-width :376px) {
    body {
        margin: 0;
        padding: 0;
        background: #022141;
        font-family: Arial, Helvetica, sans-serif;
    }
    .flexbox-container3 {
        border-top: 100px;
        border-color: #0084ff;
        height: 350px;
        background-color: white;
        margin-left: 137px;
        margin-right: 280px;
        width: 870px;
    }
    img{ 
        height: 400px;
        width: 800px;
        padding-left: 179px;
        padding-bottom: 10px;}
}